<apex:page controller="MailCustomController">
    
    <br/>
    <h1>
        Below is a list of packages associated with this account. <br/><br/>
        Use the drop-down list to filter by delivery status.
    </h1>
    <br/>
    <br/>
    
    <apex:form >
        <apex:pageBlock title="Mail List" id="mail_list_table">
        
            <!-- Filter for the list views -->
            <!-- listViewOptions pulls from List Views in the org-->
            <!-- Filter:
            <apex:selectList value="{!Mail }" size="1" >
                <apex:selectOptions value="{! listViewOptions }"/>
                <apex:actionSupport event="onchange" reRender="mail_list_table"/>
            </apex:selectList> -->
            
            <!-- List of Mail currently in route or being processed -->
            <!-- Give Mail Name, Basic info (weight, size, etc) and its' current status-->
            <apex:pageBlockTable value="{!mail}" var="m">
                <apex:column value="{! m.Name}"/>
                <apex:column value="{! m.Tracking_Code__c}"/>
                <apex:column value="{! m.Delivery_Status__c}"/>
            </apex:pageBlockTable>
            
            <!-- Pagination, as seen in the Trailhead Badge -->
            <!--
            <table style="width: 100%"><tr>
                <td>
                    Page: <apex:outputText value=" {!PageNumber} of {! CEILING(ResultSize / PageSize) }"/>
                </td>            
                <td align="center">

                <apex:commandLink action="{! Previous }" value="« Previous"
                     rendered="{! HasPrevious }"/>

                <apex:outputText style="color: #ccc;" value="« Previous"
                     rendered="{! NOT(HasPrevious) }"/>
                &nbsp;&nbsp;  

                <apex:commandLink action="{! Next }" value="Next »"
                     rendered="{! HasNext }"/>

                <apex:outputText style="color: #ccc;" value="Next »"
                     rendered="{! NOT(HasNext) }"/>
                </td>
                
                <td align="right">
                    Per page:
                <apex:selectList value="{! PageSize }" size="1">
                    <apex:selectOption itemValue="5" itemLabel="5"/>
                    <apex:selectOption itemValue="10" itemLabel="10"/>
                    <apex:selectOption itemValue="20" itemLabel="20"/>
                    <apex:actionSupport event="onchange" reRender="mail_list_table"/>
                </apex:selectList>
                </td>
            </tr></table>
            -->
            <br />
            <a href="/apex/HomePage">Return to the Homepage</a>
        </apex:pageBlock>
    </apex:form>
</apex:page>