/* Home page css*/
.theGrid{
    text-align:center; 
    width: 100%;
}
.row{
    display:flex;
    justify-content: space-evenly;
    margin-top: 20px;

}
.card{
    width:200px;
  box-shadow: 10px 10px #808080;
  	transition: 0.3s ease-in-out;
}

link{
}

.link:hover{


}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform:translateY(-5px);

}

.cardImg{
    height:135px;
    width:200px;
}
.cardInfo{
  color:white;
  background-color: #333366;
  width: 200px;
  margin: 0 auto 20px auto;
  padding:10px 0 10px 0;
  text-align: center;
    
}
.pbHeader{
    border:none;
}
#header{
    background-color:#EDEDED;
    color:#333366;
    font-size: 35px;
    padding-left:15px;
}
#secondary__header{
    background-color: #6BCFFF;
    color: white;
   font-size: 20px;
   padding: 5px 5px 5px 5px;
    margin-bottom:10px;
}
/*End Home Page css*/
/*Thank for issue page css*/
.center__div{
    padding-top: 40px;
    text-align:center;
}

.thanks__header{
    font-size: 40px;
}
.thanks__link{
    font-size: 20px;
    color:blue;
}